<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Patient Information</title>
    <link rel="stylesheet" href="http://localhost:9001/webjars/bootstrap/5.3.0/css/bootstrap.min.css"
          th:href="@{http://localhost:9001/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
</head>
<body>


<div class="container">

    <h1 class="text-center">Patient Informations and History</h1>

    <div class="row">
        <div class="col-md-6 mx-auto mt-5 text-center">

            <p class="fw-bold">First Name : <span th:text="${patientInfo.firstName}" class="fw-normal"></span></p>

            <p class="fw-bold">Last Name : <span th:text="${patientInfo.lastName}" class="fw-normal"></span></p>

            <p class="fw-bold">Birthdate : <span th:text="${patientInfo.birthdate}" class="fw-normal"></span></p>

            <p class="fw-bold">Gender : <span th:text="${patientInfo.gender}" class="fw-normal"></span></p>

            <p class="fw-bold">Address : <span th:text="${patientInfo.address}" class="fw-normal"></span></p>

            <p class="fw-bold">Phone Number : <span th:text="${patientInfo.phoneNumber}" class="fw-normal"></span></p>

            <div class="col-md-12 mx-auto mt-5 text-center h-25 overflow-auto">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patientNote : ${patientNotes}">
                        <td th:text="${patientNote.note}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form action="#" th:action="@{/patient/addNote}" th:object="${patientNote}"
                  method="post" class="form-horizontal" style="width: 100%">
                <div class="form-group">
                    <label for="note">Write a note</label>
                    <textarea class="form-control border border-dark rounded" th:field="*{note}" id="note" name="note"
                              rows="5"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" th:value="${patientNote.patId}" th:field="*{patId}" name="patId" id="patId"
                           placeholder="patId"
                           class="col-4"/>
                </div>
                <div class="form-group">
                    <input type="hidden" th:value="${patientNote.patient}" th:field="*{patient}" name="patient"
                           id="patient"
                           placeholder="patient"
                           class="col-4"/>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="btn btn-primary btn-sm" type="submit" value="Add Note"/>
                        <a class="btn btn-danger btn-sm" href="/patient/list">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>