<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Patient List</title>
    <link rel="stylesheet" href="http://localhost:9001/webjars/bootstrap/5.3.0/css/bootstrap.min.css" th:href="@{http://localhost:9001/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row"><h2>Patients</h2></div>
    <div class="row">
        <a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td style="width: 10%" th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.birthdate}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phoneNumber}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/templates/patient/update/{id}(id=${patient.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
