<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Patient List</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp; <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp; <a href="/rating/list">Ratings</a>&nbsp;|&nbsp; <a href="/trade/list">Trade</a>&nbsp;|&nbsp; <a href="/ruleName/list">Rule</a>&nbsp;<span sec:authorize="hasRole('ADMIN')"
        >|&nbsp;<a href="/user/list">User</a></span
        >
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user"> </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </div>
    <div class="row"><h2>Patients</h2></div>
    <div class="row">
        <a href="/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td style="width: 10%" th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.birthdate}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phoneNumber}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/templates/patient/update/{id}(id=${patient.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/5.3.0/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
